user ->
    * Log In and Sign Up ( with EmailID, Password, PhoneNo )
    * View Fines
    * Pay bills
    * View Status

Cops ->
    * Log In and Sign Up ( with EmailID, Password, PhoneNo, CopID )
    * View User Fines
    * Issuing Fines
    * Other Actions
    